<div class="review-container">
  <div class="review-section" id="review-section">
    {% comment %} Reviews {% endcomment %}
  </div>
</div>

{% schema %}
{
  "name": "Google Reviews",
  "target": "section",
  "javascript": "script.js",
  "stylesheet": "style.css"
}
{% endschema %}
